In [15]:


b

['bola', 'oli', 'gulli', 'olma']

In [22]:
d = ' '.join(b)
for i in b:
    for g in i:
        if g.islower:
            g.upper()
print(b)

['bola', 'oli', 'gulli', 'olma']

In [30]:
print(" ".join(c.upper() for c in b if c.islower() else c))

SyntaxError: invalid syntax (473628456.py, line 1)

In [36]:
b = ' '.join(b)

In [37]:
b

'bola oli gulli olma'

In [45]:
s

'bola oli gulli olma'

In [47]:
a

'BOLA OLI GULLI OLMA'

In [38]:
a = ""
for q in b:

a

'BOLA OLI GULLI OLMA'

In [43]:
a = 'Nola'
a.upper()

'NOLA'

In [35]:
a = " asd sad as "
for i in a:
    print(i)

a
s
d

s
a
d

a
s

In [33]:
a  =" "
a.islower()

False

In [ ]:
print("".join(c.upper() if i in indices else c for i, c in enumerate(s)))

In [41]:
a = 'olma gulli oli bola'
b = a.split(" ")[::-1]
b

['bola', 'oli', 'gulli', 'olma']